@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');



$cl-1:#ffffff;
$cl-2:#ff5656;
$cl-3:#1ca8c3;
$cl-4:#070716;
$cl-5:#212121;
$cl-6:#999999;
$cl-7:#1fbad6;


* {
  font-family: 'Roboto';
}

header {
  position: relative;
  height: 5;
}

nav {
  height: 50px;
  background-color: $cl-5;
  z-index: 5;
}
.humburger{
  display: none;
}


.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;

  .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    
  }
  .menu_link:hover{
    color: rgb(54, 140, 252);
    transition: 0.6s;
    text-decoration: none;
  }

  .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
    &:last-child{
      border-right: none;
    }
  }
}

.sub-header {
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
}

.sub-header-logo {
  display: block;
  max-width: 100%;
  margin: 16px 0 0 0;
}

.sub-header-text {
  margin: 6px 0 0 0;
  opacity: 0.5;
  color: $cl-1;
  font-size: 13px;
  font-weight: 400;
}

.sub-header-call {
  display: block;
  margin: 19px 0 0 0;
  color: $cl-1;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
}

.sub-header-phone {
  display: block;
  margin-top: 8px;
  color: $cl-1;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

.sub-header-btn {
  margin: 19px 0 0 0;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  border-radius: 4px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  &:hover{
    background-image: none;
    background-color: antiquewhite;
    transition: 0.6s;
  }
}


.promo {
  min-height: 800px;
  background: url(../img/top/background/2-layers.png) center (center / cover) no-repeat;
  padding: 150px 0 135px 0;

  .promo-header {
    color: $cl-1;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    text-align: center;
  }

  .promo-subheader {
    color: $cl-1;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
  }

  .promo-descr {
    color: $cl-1;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 23px 0 0 0;
  }

  .promo-btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: $cl-1;
    font-size: 18px;
    font-weight: 400;
    line-height: 68px;
    text-transform: uppercase;
    &:hover{
      background-image: none;
      background-color: $cl-1;
    }
  }
}

.money {
  padding: 71px 0 65px 0;
   .money-block {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 35px;
    .money-round {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 26px;
        width: 113px;
        height: 113px;
        background-color: #1eacc7;
        border-radius: 100%;
    }
    .money-descr {
      width: 343px;
      .money-sub-title {
        line-height: 21px;
        color: #1eacc7;
        font-size: 17px;
        font-weight: 400;
      }
      .money-text {
        color: #202020;
        font-size: 15px;
        font-weight: 300;
        line-height: 21px;
      }
    }
  }
}

.label {
  position: relative;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}
.label-color{
  color: black;
  background-color: $cl-1;
}

.title {
  position: relative;
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}
  .title-color{
    color: #ffffff;
  }
.sub-title{
    position: relative;
    margin-top: 19px;
    color: #222222;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    z-index: 2;
}
.sub-title-color{
  color: $cl-1;
}


.mobile{
    position: relative;
    min-height: 864px;
    padding: 48px 0 79px 0;
    background: url(../img/prichini2/bg/Rectangle_20.png) center center/cover no-repeat;
    .row{
        margin-top: 32px;
    }
    .mobile-item{
        width: 320px;
        height: 280px;
        margin: 0 auto;
        margin-bottom: 19px;
        padding: 92px;
    }
    .mobile-item-1{
        background: url(../img/prichini2/1/2-layers.png) center center/cover no-repeat;
    }
    .mobile-item-2{
        background: url(../img/prichini2/2-layers.png) center center/cover no-repeat;
    }
    .mobile-item-3{
        background: url(../img/prichini2/2/2-layers.png) center center/cover no-repeat;
    }
    .mobile-item-4{
        background: url(../img/prichini2/1/2-layers.png) center center/cover no-repeat;
    }
    .mobile-item-5{
        background: url(../img/prichini2/1/2-layers.png) center center/cover no-repeat;
    }
    .mobile-item-6{
        background: url(../img/prichini2/1/2-layers.png) center center/cover no-repeat;
    }
    .mobile-item-sub-title{
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
        line-height: 31px;
        text-align: center;
        text-transform: uppercase;
    }
    .mobile {
      min-height: 864px;
      padding: 48px 0 79px 0;
      background: url("../img/bg/mobile_app.png") center (center / cover) no-repeat;
    
      .row {
        margin-top: 32px;
      }
    }
    
    .mobile-item {
      position: relative;
      width: 320px;
      height: 280px;
      margin: 0 auto;
      margin-bottom: 19px;
      padding-top: 92px;
    }
    
    .mobile-item_1 {
      background: url("../img/prichini2/1/2-layers.png") center (center / cover) no-repeat;
    }
    
    .mobile-item_2 {
      background: url("../img/prichini2/2/2-layers.png") center (center / cover) no-repeat;
    }
    
    .mobile-item_3 {
      background: url("../img/prichini2/3/2-layers.png") center (center / cover) no-repeat;
    }
    
    .mobile-item_4 {
      background: url("../img/prichini2/4/2-layers.png") center (center / cover) no-repeat;
    }
    
    .mobile-item_5 {
      background: url("../img/prichini2/5/2-layers.png") center (center / cover) no-repeat;
    }
    
    .mobile-item_6 {
      background: url("../img/prichini2/2-layers.png") center (center / cover) no-repeat;
    }
    
    .mobile-item-subtitle {
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      line-height: 31px;
      text-transform: uppercase;
      text-align: center;
    }
    
    .mobile-item-plus {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%);
      width: 26px;
      height: 26px;
      background-color: #000000;
      margin: 0 auto;
      border-radius: 100%;
      cursor: pointer;
    
      &:before {
        content: "";
        display: block;
        width: 14px;
        height: 2px;
        background-color: red;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
      }
    
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        height: 14px;
        width: 2px;
        background-color: red;
        transition: 0.3s all;
      }
    
      &:hover {
        &:before, &:after {
          background-color: rgba(50, 21, 50, 0.0745098039);
        }
      }
    }
}
.vehichle{
    position: relative;
    min-height: 895px;
    padding: 57px 0 138px 0;
    background: url(../img/prichini2/bg/Rectangle_20.png) center center/cover no-repeat;
    .vehichle-img{
      position: relative;
      display: block;
      margin: 56px auto 0 auto;
      z-index: 2;
    }
    .vehichle-descr{
      text-align: center;
      display: block;
      font-size: 17px;
      font-weight: 300;
      line-height: 24px;
    }
    .vehichle-black{
      position: absolute;
      width: 100%;
      height: 499px;
      background-color: #070716;
      top: 0;
      left: 0;
      z-index: 1;
    }
}
.require{
  padding: 68px 0 84px 0;

	&-block{
		margin: 33px 0;
  } 
		&-nmb{
			margin-bottom: 0px;
    }
	&-title {
		color: #1ca8c3;
		font-size: 22px;
		font-weight: 400;
  }
	&-list{
		list-style-type: none;
		padding-left: 50px;
		margin-top: 22px;
  }
		li{
      display: inline-block;
			position: relative;
			font-size: 17px;
			font-weight: 300;
			line-height: 24px;
			margin-bottom: 10px;
      &:before {
				content: '';
				display: block ;
				position: absolute;
				left: -32px;
				top: 3px;
				width: 21px ;
				height: 20px;
				background: url('../img/uslov/svg/Layer_31_copy_6.png') center center / cover no-repeat;
    }
			
      }
      &_descr{
        margin-top: 25px;
        font-size: 17px;
        font-weight: 300;
        line-height: 24px;
        color: #1ca8c3;
      }
	.warning{
    .require-title{
      color: $cl-2;
    }
  } 
		
		.require-list{
      li{
        &:before{
          background: url('../icons/check_red.svg') center center / cover no-repeat;
        }
      }
    }
}
.world{
  position: relative;
	min-height: 717px;
	padding: 49px 0;
	background: url('../img/world/unknown.png') center (center / cover) no-repeat;

  &-link{
    position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 49px;
		text-align: center;
		font-size: 15px;
		font-weight: 400;
		line-height: 68px;
		text-transform: uppercase;
    text-decoration: none;
		color: #1fbad6;
    cursor: pointer;
  }
  .world-link:hover{
      color: rgb(24, 73, 73);
      transition: 0.8s;
    }
  }
  footer {
    padding: 14px 23px 39px 23px;
  
    a:hover {
      text-decoration: none;
    }
  }
  
  .footer-divider {
    width: 299px;
    height: 4px;
    background-color: #1fbad6;
    margin: 0 auto;
  }
  
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 32px;
  
    > div {
      width: 33%;
  
      &:nth-child(3) {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  
  .footer-social {
    width: 160px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    width: 32px;
    height: 32px;
    background-color: #070716;
    border-radius: 100%;
  
    i {
      color: #fff;
    }
  }
  
  .footer-links {
    width: 390px;
    margin: 0 auto;
  }
  
  .footer-links-main {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  
    a {
      color: #070716;
      font-size: 15px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
  
  .footer-links-sub {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  
    a {
      color: $cl-6;
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
.footer-img{
  width: 30%;
  margin: 0 0 0 90px;
}
  
  .footer-links-lang {
    display: block;
    margin: 0 auto;
    color: #1fbad6;
    font-size: 11px;
    font-weight: 400;
    margin-top: 19px;
    text-transform: uppercase;
    text-align: center;
  }

  .xs-visible{
    display: none;
  }
 
  @media (max-width: 1200px){
    .menu .menu_item{
      padding-right: 20px;
    }
    .menu .menu_link{
      font-size: 13px;
    }
    .promo .promo-header{
      font-size: 50px;
    }
    .money .money-block {
      align-items: flex-start;
    }
    .money .money-block .money-descr{
      width: 300px;
    }
    .mobile .mobile-item{
      width: 300px;
    }
    .footer-mobile .footer-img{
      width: 50%;
      margin: 0 0 0 90px;
    }
    .vehichle{
      padding: 55px 0;
      min-height: 840px;
    }
    .require{
      br{
        display: none;
      }
    }
    footer{
      &-wrpper > div{
        width: 50%;
        &:nth-child(1){
          width: 25px;
        }
        &:nth-child(3){
          width: 25%;
          display: flex;
          justify-content: flex-end;
        }
      }
      &-mobile{
        display: flex;
        a{
          margin: 0 3px;
          img{
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 991px){
    .title{
      font-size: 28px;
    }
    .menu .menu_link{
      font-size: 9px;
    }
    .menu .menu_item{
      padding-right: 8px;
    }
    .sub-header .sub-header-logo{
      img{
        width: 100%;
      }
    }
    .sub-header .sub-header-text{
      font-size: 11px;
    }
    .sub-header .sub-header-phone{
      font-size: 19px;
    }
    .sub-header .sub-header-btn{
      margin-top: 21px;
      height: 40px;
      width: 100%;
    }
    .promo .promo-header{
      font-size: 40px;
    }
    .promo .promo-subheader{
      font-size: 30px;
    }
    .money .money-block {
      flex-direction: column;
      align-items: center;
    }
    .money .money-block .money-descr{
      margin-top: 20px;
      width: 300px;
  }
   .money .money-round{
    margin-right: 0;
   }
  .vehichle{
    min-height: 800px;
    &-img{
      width: 100%;
    }
  }
  .world{
    min-height: 650px;
  }
  .footer{
    &-wrapper{
      flex-wrap: wrap;
    }
    &-wrapper > div{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      &:nth-child(1){
        width: 100%;
      }
      &:nth-child(3){
        width: 100%;
        justify-content: center;
      }
    }
  }
} 
@media (max-width: 767px) {
  .title{
    margin-top: 25px;
  }
    .menu{
      position: fixed;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100vh;
      background-color:rgba(0, 0, 0, .8);
      padding: 20px 15px;
      transition: 0.6s all;
    }
    .menu .menu_item{
      padding-right: 0;
      border: none;
      margin: 10px 0;
    }
    .menu .menu_link{
      font-size: 20px;
    }
   .menu_active{
      left: 0;
    }
    .hamburger{
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 26px;
      height: 12px;
       span{
        display: block;
        height: 2px;
        width: 100%;
        margin-bottom: 2px;
        background-color: $cl-1;
        transition: 0.5s all;
      }
      &_active span{
        margin-bottom: -2px;
        &:nth-child(1){
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2){
          display: none;
        }
        &:nth-child(3){
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
    .xs-hiden{
      display: none;
    }
    .xs-visible{
      display: block;
    }
    .sub-header{
     .sub-header &-phone{
        color: $cl-1;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        margin-top: 10px;
        }
      .sub-header-btn{
        display: block;
        width: 150px;
        height: 40px;
        margin: 0 auto;
        margin-top: 10px;
      }
    }
    .promo{
      &-header{
        line-height: 45px;
      }
    }
  }
  .mobile{
    padding: 40px 0;
  }
  .money{
    padding: 40px 0;
   .money &-descr{
      width: 350px;
    }
   .money &-sub-title{
      text-align: center;
    }
  .money &-text{
      margin-top: 10px;
    }
  }
  .world{
    min-height: 450px;
  }
  .require{
    padding: 40px 0;
  }
  .vehichle{
    min-height: 600px;
    padding: 40px 0;
  }
  @media (max-width: 575px) {
    nav{
      height: 30px;
    }
    header{
      height: 30px;
    }
    .title{
      font-size: 16px;
      margin-top: 15px;
      line-height: 16px;
    }
    .sub-title{
      font-size: 14px;
      line-height: 21px;
      margin-top: 11px;
    }
    .sub-header{
      &-text{
        display: none;
      }
      &-logo{
        margin-top: 16px;
      }
    }
    .sub-header{
      .sub-header &-phone{
        color: $cl-1;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 12px;
      }
      .sub-header-btn{
        width: 110px;
        height: 22px;
        font-size: 10px;
        margin-top: 6px;
      }
    }
    .sub-header{
      top: 30px;
      height: 60px;
    }
    .promo{
      min-height: 400px;
      padding: 93px 0 35px 0;
      &-descr{
        display: none;
      }
      .promo &-header{
        font-size: 30px;
        padding: 0 24px;
        line-height: 35px;
      }
      .promo &-subheader{
        font-size: 20px;
        margin-top: 33px;
        padding: 0 10px;
        line-height: 30px;
      }
      .promo &-btn{
        width: 210px;
        height: 50px;
        font-size: 16px;
        margin-top: 72px;
        &:hover{
           background-image: linear-gradient(to top, $cl-3 0%, #4ce2ff 100%);
        }
      }
    }
    .menu{
      width: 85%;
      .menu_item{
        width: 100%;
        text-align: center;
        padding: 5px 0;
      }
      .menu_link{
        display: block;
      }
    }
    .hamburger{
      .hamburger_active{
        span{
          &:nth-child(1){
            transform: translateY(5px) rotate(-45deg);
          }
          &:nth-child(3){
            transform: translateY(5px) rotate(45deg);
          }
        }
      }
    }
    .money{
      padding: 22px 0 36px 0;
      .money-block{
       margin-top: 26px;
      }
      .money-round{
        width: 100px;
        height: 100px;
      }
      .money-descr{
        width: 100%;
        margin-top: 27px;
      }
      .money-sub-title{
        font-size: 16px;
        text-align: left;
      }
      .money-text{
        margin-top: 0;
      }
    }
    .mobile{
      padding: 20px 0 40px 0;
    
    .row{
      margin-top: 30%;
    }
    .mobile-item{
      height: 254px;
      padding: 81px 40px 0 40px;
      .money-sub-title{
        font-size: 18px;
        line-height: 31px;
      }
      .mobile-item-plus{
        bottom: 28px;
        &:hover{
          &::before, &::after{
            background-color: $cl-3;
          }
        }
      }
    }
   }
  }
  .vehichle{
    padding: 25px 0 33px 0;
    min-height: 390px;
    background: #000;
    .vehichle-img{
      margin-top: 35px;
    }
    .vehichle-descr{
      margin-top: 23px;
      color: $cl-1;
      font-size: 17px;
      line-height: 24px;
    }
    .vehichle-black{
      display: none;
    }
    .hidem-320{
      display: none;
    }
    .require{
      padding: 25px;
      .require-block{
        margin: 30px 0 0 0;
      }
      .require-title{
        font-size: 16px;
      }
      .require-list{
        padding-left: 30px;
        margin-top: 5px;
        li{
          font-size: 14px;
          margin-bottom: 5px;
          line-height: 20px;
        }
      }
      .require-descr{
        font-size: 14px;
        margin-top: 15px;
      }
    }
  }
  .world{
    min-height: 360px;
    padding: 25px 0 30px 0;
    .world-link{
      width: 200px;
      display: block;
      bottom: 30px;
      line-height: 15px;
    }
  }
  footer{
    padding: 25px 0 20px 0;
  }
  .footer{
    .footer-divider{
      width: 253px;
      margin: 0 auto;
    }
    .footer-wrapper{
      padding-top: 22px;
      .footer-wrapper > div{
        margin-bottom: 20px;
        &:nth-child(1){
          order: 2;
        }
        &:nth-child(2){
          order: 1;
        }
        &:nth-child(3){
          order: 3;
        }
      }
    }
    .footer-links{
      width: 290px;
      .footer-links-main{
        padding: 0;
        font-size: 14px;
      }
      .footer-links-sub{
        flex-wrap: wrap;
        justify-content: center;
        a{
          margin: 0 7px;
        }
      }
      .footer-links-lang{
        margin-top: 10px;
      }
    }
  }

